@charset "UTF-8";

.info{
	margin-top: 100px;
	margin-left: 40px;
}


.textinfo {
	margin-top: -200px;
	margin-left:600px;
}

.buy-button{
	margin-left: 100px;
	margin-top: -10px;
}

.sell-button{
	margin-left: 200px;
	margin-top: -30px;
	
}
